{% load static %}
<ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>Dashboard <span class="badge badge-success">6</span></a>
                                <div id="submenu-1" class="collapse submenu" style="">
                                    <ul class="nav flex-column">

                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'finance' %}">Dashboard1</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'create' %}">create</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                                        </li>

                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'finance' %}" ><i class="fa fa-fw fa-rocket"></i>UI Elements</a>
                                <div id="submenu-2" class="collapse submenu" style="">
{#                                    <ul class="nav flex-column">#}
{#                                        <li class="nav-item">#}
{#                                            <a class="nav-link" href="pages/cards.html">Cards <span class="badge badge-secondary">New</span></a>#}
{#                                        </li>#}
{#                                        <li class="nav-item">#}
{#                                            <a class="nav-link" href="pages/general.html">General</a>#}
{#                                        </li>#}
{#                                        <li class="nav-item">#}
{#                                            <a class="nav-link" href="pages/carousel.html">Carousel</a>#}
{#                                        </li>#}
{#                                        <li class="nav-item">#}
{#                                            <a class="nav-link" href="pages/listgroup.html">List Group</a>#}
{#                                        </li>#}
{#                                        <li class="nav-item">#}
{#                                            <a class="nav-link" href="pages/typography.html">Typography</a>#}
{#                                        </li>#}
{#                                        <li class="nav-item">#}
{#                                            <a class="nav-link" href="pages/accordions.html">Accordions</a>#}
{#                                        </li>#}
{#                                        <li class="nav-item">#}
{#                                            <a class="nav-link" href="pages/tabs.html">Tabs</a>#}
{#                                        </li>#}
{#                                    </ul>#}
                                </div>
                            </li>

                            <li class="nav-item ">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-4" aria-controls="submenu-4"><i class="fab fa-fw fa-wpforms"></i>Forms</a>
                                <div id="submenu-4" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'create_stock' %}">Create Stock</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'create_item' %}">Create Item</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'all_stock' %}">All Stock</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/datepicker.html">form4</a>
                                        </li>

                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-5" aria-controls="submenu-5"><i class="fas fa-fw fa-table"></i>Tables</a>
                                <div id="submenu-5" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/general-table.html">FormTable</a>
                                        </li>

                                    </ul>
                                </div>
                            </li>
                            <li class="nav-divider">
                                Features
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-6" aria-controls="submenu-6"><i class="fas fa-fw fa-file"></i> Pages </a>
                                <div id="submenu-6" class="collapse submenu" style="">
                                    <ul class="nav flex-column">

                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/login.html">Login</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/sign-up.html">Sign up Page</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-9" aria-controls="submenu-9"><i class="fas fa-fw fa-map-marker-alt"></i>Maps</a>
                                <div id="submenu-9" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/map-google.html">Map1</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/map-vector.html">Map2</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                        </ul>